<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}">
<div layout:fragment="content">
<div class="container">
<h2>All xmen</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Content</th>
            <th scope="col">Author name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <th:block th:each="cerebookPost : ${allElements}">
            <tr>
                <td th:text="${cerebookPost.content}"></td>
                <td th:text="${cerebookPost.author?.name}"></td>
                <td><a th:href="@{'/posts/'+ ${cerebookPost.id} + '/update'}">Update</a></td>
                <td>
                <form th:action="@{'/posts/{cerebook_post_id}/delete'(cerebook_post_id=${cerebookPost.id})}" method="POST">
                    <button type="submit" name="Delete" value="Delete" class="btn-link">Delete</button>
                </form>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<div class="container">
<h2>Create</h2>
    <form th:action="@{'/posts'}" method="POST">
        <th:block th:each="field : ${elementFields}">
            <label th:for="${field}" th:text="${#strings.capitalize(field)}"></label>
            <input th:id="${field}" th:name="${field}" th:placeholder="${field}">
            <br>
        </th:block>
        <button type="submit" name="Create" value="Create" class="btn-link">Create</button>
    </form>

</div>
</div>
