<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
</header>
<div class="container">
<h2>All xmen</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Human name</th>
            <th scope="col">Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <th:block th:each="cerebookUser : ${allElements}">
            <tr>
                <td th:text="${cerebookUser.username}"></td>
                <td th:text="${cerebookUser.humanName}"></td>
                <td th:text="${cerebookUser.name}"></td>
                <td><a th:href="@{'/users/'+ ${cerebookUser.id} + '/update'}">Update</a></td>
                <td>
                <form th:action="@{'/users/{cerebook_user_id}/delete'(cerebook_user_id=${cerebookUser.id})}" method="POST">
                    <button type="submit" name="Delete" value="Delete" class="btn-link">Delete</button>
                </form>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<div class="container">
<div class="card" style="width: 18rem; padding: 10px">
<h2>Create</h2>
    <form th:action="@{'/users'}" method="POST">
        <th:block th:each="field : ${elementFields}">
            <label th:for="${field}" th:text="${#strings.capitalize(field)}"></label>
            <input th:id="${field}" th:name="${field}" th:placeholder="${field}">
            <br>
        </th:block>
        <button type="submit" name="Create" value="Create" class="btn-link">Create</button>
    </form>
</div>
</div>
<!-- Exemple informatif pour la gestion des _csrf token
     Dans le premier cas le _csrf token est automatiquement ajouté
     au formulaire, pas dans le deuxième
-->
<div hidden>
    <form th:action="@{'/test'}" method="POST">
        <button type="submit" name="Create" value="Create" class="btn-link">Test</button>
    </form>
    <form action="/test" method="POST">
        <button type="submit" name="Create" value="Create" class="btn-link">Test</button>
    </form>
</div>
</body>
</html>
