<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
</header>
<!-- <div class="bg-image"
     style="background-image: url('https://aenori.s3.eu-west-3.amazonaws.com/x-men_dark_phoenix_easter_eggs.webp');
            height: 100vh">-->

<div class="text-center">
    <img class="rounded" src="https://aenori.s3.eu-west-3.amazonaws.com/xmen_banner_bigger.jpg" width="500">
</div>
<div class="container">
<h2>All xmen</h2>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Human name</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody id="element_table">
        </tbody>
    </table>
</div>
<div class="container">
<div class="card" style="width: 18rem; padding: 10px">
<h2>Create</h2>
    <form id="create_form" th:action="@{'/users'}" method="POST">
        <th:block th:each="field : ${elementFields}">
            <label th:for="${field}" th:text="${#strings.capitalize(field)}"></label>
            <input th:id="${field}" th:name="${field}" th:placeholder="${field}">
            <br>
        </th:block>
        <button id="create_submit" type="submit" name="Create" value="Create" class="btn-link">Create</button>
    </form>
</div>
</div>
<!-- </div> -->
<script>
    function addUserLine(userObject) {
        let row = document.getElementById("element_table")
            .insertRow();
        row.innerHTML = `<td>${userObject.id}</td><td>${userObject.username}</td>`;
        row.innerHTML += `<td>${userObject.humanName}</td><td>${userObject.name}</td>`;
    }

    $("#create_form").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);

        $.ajax({
            headers: {"Authorization": 'Bearer '+localStorage.getItem('token')},
            type: "POST",
            url: "/api/users",
            data: form.serialize(), // serializes the form's elements.
            success: addUserLine
        });
    });
</script>
<script th:inline="javascript">
    let users = /*[[${allElements}]]*/ {};

    users.forEach(addUserLine);
</script>
</body>
</html>
