<html>
<head></head>
<body>
<h1>Update xmen</h1>
    <h2>Create</h2>

    <form th:action="@{/{controllerRoute}/{element_id}/update(controllerRoute=${controllerRoute}, element_id=${element.id})}"
          th:object="${element}" method="POST">

        <label th:for="username">Username</label>
        <input th:field="*{username}">
        <label th:for="password">Password</label>
        <input th:field="*{password}">
        <label th:for="humanName">Human Name</label>
        <input th:field="*{humanName}">
        <label th:for="name">Name</label>
        <input th:field="*{name}">
        <input hidden th:field="*{id}">
        <input type="submit">
    </form>
</body>
</html>