<html>
<head></head>
<body>
<h1>All xmen</h1>
    <table>
        <th:block th:each="cerebookUser : ${cerebookUsers}">
            <tr>
                <td th:text="${cerebookUser.username}"></td>
                <td th:text="${cerebookUser.humanName}"></td>
                <td th:text="${cerebookUser.name}"></td>
                <td><a th:href="@{'/cerebookUser/'+ ${cerebookUser.id} + '/update'}">Update</a></td>
            </tr>
        </th:block>
    </table>

    <h2>Create</h2>

    <form th:action="@{/cerebookUser/create}" th:object="${newCerebookUser}" method="POST">
        <label th:for="username">Username</label>
        <input th:field="*{username}">
        <input th:field="*{password}">
        <input th:field="*{humanName}">
        <input th:field="*{name}">
        <input type="submit">
    </form>

<h2>Add image</h2>
<form action="/cerebookUser/uploadProfile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload Image" name="submit">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
</form>
</body>
</html>