<h2>List of Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.name}}
  </li>
</ul>
<p>{{msg}}</p>
<div *ngIf="selectedUser">
  <h2>{{selectedUser.name | uppercase}} Details</h2>
  <form #userUpdate = "ngForm" (ngSubmit) = "onClickSubmit(userUpdate.value)" >
  <div><span>id: </span>{{selectedUser.id}}</div>
  <input hidden name="id" [(ngModel)]="selectedUser.id"/>
  <div *ngFor="let field of ['username', 'name', 'password', 'humanName', ]">
    <label for="user-{{field}}">User {{field}}: </label>
    <input id="user-{{field}}" [(ngModel)]="selectedUser[field]" name="{{field}}" placeholder="{{field}}"/>
  </div>
    <button class="button" type="submit">Update</button>
  </form>
  <form #userDelete = "ngForm" (ngSubmit) = "onClickSubmitDelete(userDelete.value.id)">
    <input hidden name="id" [(ngModel)]="selectedUser.id"/>
    <button class="button" type="submit">Delete</button>
  </form>
</div>
